header{
text-align: center;
}
body {
background-color:black;
}
.section1 {
text-align: justify;
float: left;
width: 50%;
margin-top: 5%;
margin-bottom: 5%;
}
.link {
color: white;
width: 100%;
font-size: 100%;
}
aside {
float: right;
width: 25%;
}
footer {
clear: both;
}
.Infos {
line-height: 5px;
text-align: center;
}
.Hobby {
line-height: 5px;
text-align: center;
}
.Titre1 {
text-align: center;
}
img{
width: 100%;
}
.Forms {
    text-align: justify;
    float: left;
    width: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: auto;
}
.Exp {
    text-align: justify;
    float: left;
    width: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: auto;
}
.Titre {
    text-align: start;
}
ul{
    color: white;
}