header{
text-align: center;
}
body {
background-color:black;
}
nav {
line-height: 50px;
color: white;
float:left;
width: 25%;
height: 100%;
}
section.section1 {
text-align: justify;
float: left;
width: 50%;
margin-top: 5%;
margin-bottom: 5%;
}
.link {
color: white;
width: 100%;
font-size: 100%;
}
aside {
float: right;
width: 25%;
}
footer {
clear: both;
}
.Infos {
line-height: 5px;
text-align: center;
}
.Hobby {
line-height: 5px;
text-align: center;
}
.Titre {
text-align: center;
}
img{
width: 100%;
}
